<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleURLName</key>
			<string>dev.taishi.lorelei.debug</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>lorelei</string>
			</array>
		</dict>
	</array>
	<key>LSUIElement</key>
	<true/>
	<key>VoiceTranscriptionProvider</key>
	<string>apple</string>
	<key>NSMicrophoneUsageDescription</key>
	<string>Lorelei uses your microphone so you can talk to it</string>
	<key>NSScreenCaptureUsageDescription</key>
	<string>Lorelei needs screen recording access to see your screen and help you.</string>
</dict>
</plist>
